body{
	background-color:#f4f4f4;
	color:#555555;

	font: normal 16px Arial, Helvetica, sans-serif;
	margin: 25px;
	padding: 10px;

}

.container{
	margin:10px;
	width: 80%;
}

.button {
	background-color: #333;
	color: #fff;
	padding: 10px 15px;
	border: none;
}

.button:hover{
	background: lightslategray;
	color: white;
}


.my_images img{
	width: 80%;
	height:auto;
	align-content: center;
}





