body{
	background-color:#f4f4f4;
	color:#555555;

	font: normal 16px Arial, Helvetica, sans-serif;
	margin-left:25px;
	margin-bottom: 15px;
	margin-right:20px;
	margin-top: 15px;
	padding: 10px;

}

.container{
	margin:10px;
}

.button {
	background-color:darkgray;
	color: #fff;
	padding: 10px 15px;
	border: none;
}

.button:hover{
	background: lightslategray;
	color: white;
}


.my_images img{
	width: 95%;
	height:auto;
	margin-right: auto;
	margin-left: auto;
	display: block;
}





